.menu-toggle {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 20px;
}



.menu-toggle > input {
	position: absolute;
	z-index: 2;
	cursor: pointer;
	opacity: 0;
	width: 28px ;
	height: 28px;
	cursor: pointer;
	top:20px;
}
 

.menu-toggle > input:checked 


/* sebenernya bisa pakai javascript */

.menu-toggle > span {
	display: block;
	height: 3px;
	width: 30px;
	background-color: var(--fg);
	align-self: flex-end;
}


.menu-toggle > span:nth-child(2) {
	width: 25px;
} 

.menu-toggle > span:nth-child(3) {
	width: 20px;
}
