:root {
	--fg: #ebdbb2;
	--fg0: #fbf1c7 ;
	--bg: #282828;
	--bg1: #3c3836;
	--red: #cc241d;
	--green: #98971a;
	--yellow: #d79921;
	--blue: #458588;
	--purple: #b16286;
	--gray: #928374;
	
	--font-mono: 'Fira Mono', monospace;
	--font-bold: Bold 1.2em 'Poppins', sans-serif;
	--font-thick: normal 1em "Poppins", sans-serif;
	--shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


