@import './colors.css';
@import './navbar.css'; 
@import './viewport.css';
@import './section-main.css';

body {
	margin: 0px;
	padding: 0px;
	background-color: var(--bg);
	font-family: sans-serif;
	overflow-x: hidden;
}
h1 {
	font-family: var(--font-bold);
	font-size: 45px;
	margin: 0px;
	line-height: 3rem;
}
li {
	list-style: none;
}
a {
	color: var(--fg);
	text-decoration: none;
	font-family: var(--font-mono);
}

p {
	font-family: var(--font-mono);
	color: var(--fg);
}

