section, main {
	margin: 80px;
	height: 100vh;
}

main > span {
	font-family: var(--font-mono); 
	color: var(--fg);
}

main > h1 {
	color: var(--yellow);
}

.about-me-desc {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	padding: 10px;
	gap:20px;
}


.about-me-desc > div {
	flex-grow: 1;
	word-wrap: break-word;
	width:500px ;
	padding: 0px;
	font: var(--font-thick);
	color: var(--fg);

}

.about-me-desc > img {
	flex-grow: 1;
	border-radius: 9px;
	width: 5vh;
}
#platforms {
	display: inline-block;
	
}

#comment > div {
	word-wrap: break-word;
	width: 50%;
	
}

#tentang-saya {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
}

#tentang-saya > * {
	margin: 10px;
}

