section, main {
	margin: 80px;
	height: 100vh;
}

main > span {
	font-family: var(--font-mono); 
	color: var(--fg);
}

main > h1 {
	color: var(--yellow);
} 


.about-me-desc {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: flex-start;
	padding: 10px;
	gap:20px;
}


.about-me-desc > div {
	max-width:500px ;
	font: var(--font-thick);
	color: var(--fg);


}

.about-me-desc > img {
	display: block;
}

.myself-wrapper {
	display: flex;
	justify-content: center;
	align-self: flex-start;
	max-width: 500px;
	background-size: contain;
}

.myself-wrapper > img {
	width: 75%;
	height: auto;
	position: static;
	border-radius: 9px;
	
}


#platforms {
	display: inline-block;
	
}

#comment > div {
	word-wrap: break-word;
	width: 50%;
	
}


#tentang-saya {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
}

#tentang-saya > * {
	margin: 10px;
}

